.card-img-top{
    background-image: url(<url>);
    width: 400px;
    height: 200px;
    background-position: 50% 50%;
    background-size: cover;
}
.big-img{
    background-image: url(<url>);
    width: 600%;
    height: 600%;
    background-position: 50% 50%;
    background-size: cover;
}
.bold {
    font-weight: bold;
}

@keyframes begin {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}

@keyframes change {
    0%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
}

body {
    animation: begin 1.6s cubic-bezier(0.25, 1, 0.5, 1);
    overflow-x: hidden;
    opacity: 1;
    transition: opacity .3s cubic-bezier(0.25, 1, 0.5, 1);
}

.wp4k {
    font-weight: 400;
}

.m4jmcs {
    color: #7d7d7d;
    font-size: small;
}