---
layout: default
title: 地域情報
---
<div class="text-center py-3">
  <div class="col-lg-7 mx-auto py-4 px-1">
    <h1>地域情報</h1>
    <p>-ScJP鯖内の地域情報-</p>
    <div class="py-3"></div>
    <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-sm-center">
      {% for item in regions %}
      <div class="col">
        <div class="card">
          <img
            src="{{ item.image }}"
            {% if item.nightimg and item.nightimg != "" %}
              nightsrc="{{ item.nightimg }}"
            {% endif %}
            class="card-img-top"
            alt="..."
            decoding="async">
          <div class="card-body">
            <h5 class="card-title"><a href="{{ item.url }}">{{ item.name }}</a></h5>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>