---
layout: default
title: 施設情報
---
<div class="text-center py-3">
  <div class="col-lg-7 mx-auto py-4 px-2">
    <h1 class="py-4">施設情報の登録</h1>
    <h4>施設情報の登録は<a href="https://discord.com/channels/888638910589206569/1223134209984565269">こちら</a>からお願いします。</h4>
    <div class="py-3"></div>
    <h1>施設情報</h1>          
    <p>-ScJP鯖内の施設情報-</p>
    <div class="py-3"></div>
    {% for item in facilities %}
      {% if item.facilities and item.facilities.size > 0 %}
      <h2>{{ item.region }}</h2>
      <div class="py-2"></div>
      {% for facility in item.facilities %}
        {% assign mod_value = forloop.index0 | modulo: 3 %}
        {% if forloop.index0 == 0 or mod_value == 0 %}
          <div class="row row-cols-1 row-cols-md-3 g-4 justify-content-sm-center">
        {% endif %}

        <div class="col">
          <div class="card">
            <img
              src="{{ facility.image }}" 
              class="card-img-top" 
              alt="..."
              decoding="async">
            <div class="card-body">
              <h5 class="card-title"><a href="{{ facility.url }}">{{ facility.name }}</a></h5>
            </div>
          </div>
        </div>

        {% assign mod_value = forloop.index0 | plus: 1 | modulo: 3 %}
        {% if mod_value == 0 or forloop.last %}
          </div>
          <div class="py-3"></div>
        {% endif %}
      {% endfor %}
      {% endif %}
    {% endfor %}
  </div>
</div>